# C gitignore

# ignore anything with no extension
*
!/**/
!*.*

# don't ignore Makefiles
!Makefile

# ignore .o and .out files
*.o
*.out

# ignore bin directories
bin/

# ignore .DS_Store and .vscode directories
.DS_Store
.vscode
