# C++ gitignore

# ignore anything with no extension
*
!/**/
!*.*

# ignore .DS_Store and .vscode directories
.DS_Store
.vscode

# ignore imgui library as too large
/gui/lib
# ignore gui object files
/gui/*.o
#ignore .ini file
/gui/*.ini
# don't ignore gui makefile
!/gui/Makefile

# ignore boost library as too large
/serialization/lib
